.container {
  display: flex;
  height: 75px;
  padding: 3px;
  border-radius: 10px;
  margin: 10px 0 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .cardLeft {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;

    input {
      width: 90px;
      height: 30px;
      margin-right: 8px;
    }

    .infor {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  >span {
    padding: 10px;
    font-size: 20px;
    color: rgb(248, 247, 245);

  }

  >span:hover {
    padding: 10px;
    cursor: pointer;
    color: rgb(41, 39, 38);
  }

  .labelBigger {
    font-size: 25px;
    color: rgb(255, 255, 255);
  }

  .labelSmall {
    font-size: small;
    font-size: 20px;
    color: rgb(241, 241, 241);

  }

}