.container {
  background-color: #e1e1e1;
  color: #2c2c2d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.central-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  padding: 10px;
}
