.container {
  background-color: #17181f;
  color: #797a81;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.central-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  padding: 10px;
}
