$white: #FFF;
.container {
  border-radius: 15px;
  background-color: rgb(248, 247, 247);
  border: 2px solid #555;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  form {
    width: 95%;
    padding: 20px;

    >button {
      border-radius: 15px;
      margin: 10px 0 10px;
      background: #008080;
      outline: 0;
      width: 100%;
      padding: 10px;
      color: $white;
      font-size: 18px;
      cursor: pointer;
    }
    >button:hover {
      background-color: #016a6a;
    }
    
    button:disabled,
    button[disabled] {
      background-color: #008080;
      border: none;
      cursor: not-allowed;
    }
  }
}

.containerInputText {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  input {
    border: 1px solid #555;
    border-radius: 15px;
    width: 97%;
    margin: 10px 0 10px;
    background: transparent;
    outline: 0;
    color: #555;
    font-size: 18px;
    flex: 1;
    padding: 14px;
  }
}

.flexBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  select {
    border-radius: 15px;
    outline: 0;
    margin: 10px 10px 10px 0;
    background: transparent;
    color: #555;
    font-size: 18px;
    padding: 14px;
    flex: 1;
  }
  option {
    background-color: rgb(231, 231, 231);
 
  }
}

.inputDate {
  border: 1px solid #555;
  border-radius: 15px;
  margin: 10px 0 10px;
  background: transparent;
  outline: 0;
  color: #555;
  font-size: 18px;
  flex: 1;
  padding: 13px;
}